on:
  workflow_dispatch:
    inputs:
      tag:
        description: Flipt release version tag to generate
        required: true

permissions:
  contents: write
  pull-requests: write

name: proto-upgrade
jobs:
  proto-upgrade:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: bufbuild/buf-setup-action@v1.48.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate
        run: |
          buf generate buf.build/flipt-io/flipt
          buf generate buf.build/gnostic/gnostic
          rm  src/Flipt.Grpc/Discovery.cs src/Flipt.Grpc/Openapiv2.cs

      - name: Prepare Branch
        env:
          GIT_AUTHOR_NAME: flipt-bot
          GIT_AUTHOR_EMAIL: dev@flipt.io
          GIT_COMMITTER_NAME: flipt-bot
          GIT_COMMITTER_EMAIL: dev@flipt.io
          GH_TOKEN: ${{ github.token }}
        run: |
          git pull origin main

          TIMESTAMP=$(date +%Y%m%d-%H%M%S)
          BRANCH_NAME="generate/${{ inputs.tag }}-${TIMESTAMP}"
          git checkout -b "${BRANCH_NAME}"
          git add --all .
          git commit -m "feat: updates to protobuf definitions for flipt ${{ inputs.tag }}"
          git push origin "${BRANCH_NAME}"
          gh pr create --title "feat: updates to protobuf definitions for flipt ${{ inputs.tag }}" \
            --body "Upgrading generated client to the protobuf definitions found in Flipt ${{ inputs.tag }}."
